######################################
# Ignore .cpp files in the ProjA sub-folder and all its subfolders
ProjA\*.cpp
#
# Ignore .txt files in this folder
#\*.txt
#
# Ignore .o files in this folder and all its sub-folders
*.o
*.a
*.pbi
*.hex
*.out
*.sim
*.browse
*.cout
*.map
*.dep
*.xcl
#
# Ignore all files in the Temp sub-folder
#\Temp
#
# Do not ignore .dll files in this folder nor in any of its sub-folders
#!*.dll
# EDIT https://msdn.microsoft.com/en-us/library/ms245454(v=vs.110).aspx#tfignore
# A filespec is recursive unless prefixed by the \ character.
*.ewt
*.dni
*.crun
*.dbgdt
*.wsdt
*.wspos
*.txt
tags
settings
.tfignore
\Common\Security\ecc108_apps_noopt.c
\Common\Security\ecc108_apps_opt.c
\'
\Common\wolfssl-3.13.0-commercial
\DCU\Common\Include\partition_cfg - problem.h
*.bin
*.lnt
*.ewd  
\MTU\PCLint\sed3ibKwb
\MTU\PCLint\sed7zbT5A
\MTU\PCLint\sedBaHnKP
\MTU\PCLint\sedBrY6sM
\MTU\PCLint\sedDVNgaA
\MTU\PCLint\sedfWnZHW
\MTU\PCLint\sedGol3az
\MTU\PCLint\sedGQZocm
\MTU\PCLint\sedH2LAmK
\MTU\PCLint\sedHhUpnM
\MTU\PCLint\sedKz0Sq8
\MTU\PCLint\sedlb5SvC
\MTU\PCLint\sedmaqRHG
\MTU\PCLint\sedNmW9i4
\MTU\PCLint\sedP3msJv
\MTU\PCLint\sedpkMzfZ
\MTU\PCLint\sedQaUN0h
\MTU\PCLint\sedr9f5gS
\MTU\PCLint\sedRs9oAW
\MTU\PCLint\seds7tJhi
\MTU\PCLint\sedsCPJUY
\MTU\PCLint\sedsWzUTf
\MTU\PCLint\sedwledaO
\MTU\PCLint\sedxHFUK5
\MTU\PCLint\sedY6CDB8
\MTU\PCLint\sedZapzps
\MTU\PCLint\sedzo85vi
\MTU\PCLint\sedzxrnb5
/.vs

# IAR Settings  
**/settings/*.crun 
**/settings/*.dbgdt  
**/settings/*.cspy  
**/settings/*.cspy.*  
**/settings/*.xcl  
**/settings/*.dni  
**/settings/*.wsdt  
**/settings/*.wspos 

# Build results
# [Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
_build/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc
mtu/os/lib
iar/*debug
mtu/os_bsp/mqx_kinetis/lib
mtu/iar_v9.20/*debug
*.ninja_deps
*ninja_log